<ion-view title="Slide" hide-nav-bar="true" nav-transition="none" id="page4">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="slide-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="slide-slide24" style="background-color:#F44336;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/7JGM6DF2RziwjPyy7jsg_responsive_web_design.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h2 id="slide-heading1" style="color:#FFFFFF;font-weight:300;text-align:center;">Websites responsivos</h2>
              <div id="slide-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">Lindos websites e lojas virtuais com segurança e liberdade que se adaptam a celulares, tablets, televisores e muito mais!</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="slide-slide27" style="background-color:#3F51B5;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/I3iP1xQJQeOEUBz8WLKe_smartphone.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h2 id="slide-heading3" style="color:#FFFFFF;font-weight:300;text-align:center;">Apps personalizados</h2>
              <div id="slide-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">Aplicativos com informações, ofertas e a cara da sua empresa</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="slide-slide28" style="background-color:#FFEB3B;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/a7jN8kYSQuO0Lk6p5NFn_flat_seo3-01-512.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h2 id="slide-heading4" style="color:#525252;font-weight:300;text-align:center;">Sistemas interligados</h2>
              <div id="slide-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#525252;">Sistemas complementares para propaganda e gestão, com total liberdade</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="slide-slide29" style="background-color:#8E24AA;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/Prj2p2lRRz2moEyj6DR0_logo-1024.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="width: 300px; height: 60px;"></div>
              <a ui-sref="page1" id="slide-button1" class="button button-balanced  button-block">CONFIRA</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>